@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family:"JetBrainsMono";
    src:local("JetBrainsMono-Bold"),
    url("src/font/JetBrainsmono-Bold.woff2");
    font-weight:bold;

}