@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family:"JetBrainsMono";
    src:local("JetBrainsMono-Bold"),
    url("src/font/JetBrainsmono-Bold.woff2");
    font-weight:bold;

}

.hero-primary {
    background-image: url("src/img/bg-hero.jpg");
    min-height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.cover-profile {
    background-image: url("src/img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-profile {
    background-image: url("src/img/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
